@{
    ViewData["Title"] = "_Layout";
}

@*<div class="text-center">
        <h1>

            Welcome to BookStore Application
            <link href="~/css/Frontimage.css" rel="stylesheet" />

        </h1>
              <img src="~/images/Booksimage.jpg"  class="Logo" alt="This is front image"/>

    </div>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome to BookStore</h1>
            <p>
                Hello my name is khan am not a terrorist Yo yo honey singh Kudiye ni tere brown rang ne.........************
                Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.
            </p>
            <a href="#" class="btn-btn-primary my-2">Search Books</a>
        </div>
    </div>
</body>
</html>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-2.jpg" alt="Bologna">
            <div class="card-body">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                <a href="#" class="card-link text-danger">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/oslo.jpg" alt="Oslo">
            <div class="card-body">
                <h4 class="card-title">Oslo</h4>
                <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
                <p class="card-text">Oslo is the economic and governmental centre of Norway. The city is also a hub of Norwegian trade, banking and industry.</p>
                <a href="#" class="card-link text-primary">See Deals</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated yesterday</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/madrid.jpg" alt="Madrid">
            <div class="card-body">
                <h4 class="card-title">Madrid</h4>
                <h6 class="card-subtitle mb-2">Spain</h6>
                <p class="card-text">Madrid is home to two world-famous football clubs, Real Madrid and Atlético de Madrid. Due to its economic output, high standard of living, and market size, Madrid is considered the major financial centre of Southern Europe.</p>
                <a href="#" class="card-link text-info">See Gallery</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 5 days ago</small>
            </div>
        </div>
    </div>

</div>

